<p>
  password works!
</p>
<div class="row padding-class">
	<div class="container col-sm-4">
		<form [formGroup]="passwordForm" (ngSubmit)="add()">
			<div class="form-group row">
				<label class="col-sm-6 col-form-label">New password</label>
				<div class="col-sm-6">
					<input type="password" class="form-control" formControlName="password" reqired>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-6 col-form-label">Repeat password</label>
				<div class="col-sm-6">
					<input type="password" class="form-control" formControlName="username" reqired>
				</div>
			</div>
			<div align="left">
				<button type="submit" class="btn btn-outline-dark">Promjeni sifru</button>
			</div>
		</form>
	</div>
</div>
<br/>
<a routerLink="/" routerLinkActive="active">Glavna</a>